@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  padding-top: 100px;
  position: relative;
}

.modal_back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(109, 109, 109, 0.7098039216);
}

.modal1,
.modal2 {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 30px 30px 0;
  z-index: 100;
}
.modal1 p,
.modal2 p {
  line-height: 1.3rem;
}
.modal1 a,
.modal2 a {
  display: block;
  color: white;
  margin-top: 20px;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

.modal-icon {
  display: block;
  margin: 28px auto 0;
  text-align: center;
  font-size: 40px;
}

.close {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
}

.demo {
  display: block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}
.loading img {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 50vh;
  left: 50%;
}

.logo_fadein {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width: 480px) {
  .logo_fadein {
    height: 100vh;
  }
}
@media screen and (max-width: 480px) {
  .logo_fadein img {
    width: 100px;
    height: 100px;
  }
}

.logo_fadein p {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
}
@media screen and (max-width: 480px) {
  .logo_fadein p {
    margin: 0 auto;
    text-align: center;
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 0;
  }
}
.inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 150px;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .inner {
    padding: 0 20px;
  }
  .top_inner {
    padding: 0;
  }
}
img {
  width: 100%;
}

p,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

a:hover {
  opacity: 0.7;
  font-size: 1.1em;
}

.section {
  width: 100%;
  margin: 100px 0 0;
}

@media screen and (max-width: 480px) {
  .section {
    width: 100%;
    margin: 80px 0 0;
  }
  .pc_header {
    display: none;
  }
}
.title {
  font-size: 50px;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 30px;
  }
  .sub_title {
    margin-left: 5px;
  }
}
#home {
  margin-top: 0;
}

/*===========================
        header
=============================*/
header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header_inner {
  padding: 20px 150px;
}
@media screen and (max-width: 767px) {
  .header_inner {
    padding: 20px 20px;
  }
}

.header_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 10px;
}

.header_logo img {
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav_item {
  list-style: none;
  padding: 10px;
  width: 90px;
  height: 44px;
}

/*===========================
      main
=============================*/
.main {
  margin-bottom: 330px;
  position: relative;
}

.main_contents {
  position: relative;
}

.sp_header {
  display: none;
}

.sp_back {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(87, 87, 87);
  z-index: 100;
  position: absolute;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sp_btn {
  display: none;
  z-index: 200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  .main {
    overflow: hidden;
  }
  .sp_header {
    display: block;
    position: fixed;
    right: -250px;
    z-index: 100;
    background-color: rgba(129, 204, 220, 0.568627451);
    width: 250px;
    height: 1000px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .sp_back.active {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(87, 87, 87);
    z-index: 100;
    position: absolute;
    opacity: 0.4;
  }
  .sp_header.active {
    position: fixed;
    right: 0;
    z-index: 200;
  }
  .sp_menu {
    height: 100%;
  }
  .sp_btn {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    z-index: 200;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .sp_btn.active {
    position: fixed;
    right: 500px;
  }
  .nav_items {
    display: block;
    font-size: 30px;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 15%;
  }
  .nav_items a {
    color: white;
    width: 100%;
    display: block;
    padding-left: 30px;
  }
  .nav_item {
    margin-bottom: 15px;
    width: 100%;
    padding: 0;
  }
  .nav_item img {
    width: 30px;
  }
}
.hide_btn {
  list-style: none;
  font-size: 80px;
  color: white;
}

.main_img {
  overflow: hidden;
  width: 500px;
  max-width: 500px;
  margin-left: auto;
}
.main_img img {
  display: block;
  width: 100%;
  opacity: 0.75;
  -webkit-animation: animationZoom 30s ease-in-out infinite;
          animation: animationZoom 30s ease-in-out infinite;
}
@media screen and (max-width: 480px) {
  .main_img img {
    height: 100vh;
    max-height: 800px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main_title {
  position: absolute;
  top: 300px;
}

.main_title_l {
  font-size: 80px;
}

.main_title_s {
  font-size: 40px;
  margin-left: 10px;
}

.message_flex {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_message_p {
  font-size: 24px;
  font-weight: bold;
}

.sub_message_p {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .main {
    margin-bottom: 80px;
    margin-top: 0;
  }
  .main_img {
    width: 100%;
  }
  .main_title {
    padding: 20px;
    position: static;
  }
  .main_title_l {
    font-size: 40px;
  }
  .main_title_s {
    font-size: 20px;
  }
  .main_message_p {
    font-size: 18px;
    font-weight: bold;
  }
  .sub_message_p {
    font-size: 14px;
  }
}
@-webkit-keyframes animationZoom {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes animationZoom {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.main_message {
  width: 100%;
  font-size: 24px;
  letter-spacing: 5px;
}
.main_message p {
  margin: 10px 0 0;
}

@media screen and (max-width: 480px) {
  .main_message {
    width: 100%;
    font-size: 15px;
    letter-spacing: 2px;
  }
  .main_message p {
    margin: 10px 0 0;
  }
}
.sub_message {
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
}

.message_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line {
  margin-top: 6px;
  margin-left: 10px;
  width: 80px;
  border-top: 1px solid black;
}

/*===========================
        skills
=============================*/
.skills {
  width: 100%;
}

.skill_contents {
  width: 100%;
}

.skill_items {
  margin-top: 60px;
}

.skill_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}
.skill_item.icon {
  margin-top: 60px;
}

.skill_img {
  width: 30%;
  text-align: center;
  margin-right: 25px;
}

.skill_item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.skill_img_right {
  width: 30%;
  text-align: center;
}

.skill_texts {
  width: 55%;
}
.skill_texts h3 {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 2rem;
}
.skill_texts p {
  font-size: 18px;
  line-height: 30px;
}
.skill_texts.icon {
  width: 100%;
}

.skill__contents {
  text-align: center;
}

.skill__contents__flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
}
.skill__contents__flex img {
  width: 100%;
  height: 100px;
}
.skill__contents__flex p {
  margin-top: 10px;
  font-weight: bold;
}

.skill__grid__item {
  margin-top: 30px;
  -webkit-box-shadow: 1px 1px 6px #c5c5c5;
          box-shadow: 1px 1px 6px #c5c5c5;
  border-radius: 10px;
  padding: 20px;
}

.etc {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .skill_items {
    width: 100%;
  }
  .skill_item {
    display: block;
    width: 100%;
  }
  .skill_img {
    width: 100%;
  }
  .skill_texts {
    width: 100%;
  }
  .skill_img_right {
    width: 100%;
    text-align: center;
  }
  .skill_tit {
    margin-top: 25px;
  }
  .skill_text {
    margin-top: 20px;
  }
}
/*===========================
      about
=============================*/
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_img {
  margin-left: 20px;
}
.about_img img {
  border-radius: 10px;
}

.about_name {
  margin-left: 40px;
}
.about_name h3 {
  font-size: 20px;
}
.about_name p {
  margin-top: 20px;
  font-size: 30px;
}

.name_furi p {
  margin-top: 5px;
  font-size: 15px;
}

.about_items {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
}

.about_img {
  width: 30%;
}

.about_item {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
}

.about_text {
  line-height: 30px;
}
.about_text p {
  font-weight: normal;
  letter-spacing: 1.4px;
}

.camel_tit {
  font-size: 24px;
  margin: 40px 0 20px;
  letter-spacing: 1.4px;
}
.camel_tit img {
  display: none;
  width: 24px;
  vertical-align: bottom;
}

.camel_text {
  line-height: 30px;
}
.camel_text p {
  font-weight: normal;
  letter-spacing: 1.4px;
}

@media screen and (max-width: 480px) {
  .about_text p,
  .camel_text p {
    letter-spacing: 0px;
    overflow-wrap: normal;
  }
  .about_item {
    padding: 5px;
  }
  .camel_tit img {
    display: inline;
    margin-left: 10px;
  }
}
/*===========================
      contact.
=============================*/
.twitter {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  padding: 100px;
}

.twitter_icon {
  font-size: 5rem;
  color: rgba(129, 204, 220, 0.568627451);
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .twitter {
    padding: 0 0 50px;
  }
  .twitter p {
    font-size: 14px;
  }
}
/*===========================
      footer
=============================*/
footer {
  background-color: rgb(129, 173, 220);
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_contents {
  text-align: center;
  color: white;
}

/*===========================
    fontawesome
=============================*/
.font_awesome {
  font-size: 7em;
  color: rgba(129, 204, 220, 0.568627451);
}

.font_awesome2 {
  font-size: 5em;
  color: rgba(129, 204, 220, 0.568627451);
}

/*===========================
    swiper
=============================*/
.swiper-wrapper {
  position: relative;
  z-index: 90;
}

.swiper {
  padding: 8px !important;
}

.swiper_modal1 {
  position: relative;
  z-index: 98;
}

.swiper-slide {
  position: relative;
}
.swiper-slide img {
  border-radius: 15px;
}

.swiper_contents {
  margin-top: 50px;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: #81ccdc !important;
}

.swiper-pagination-bullet-active {
  background-color: rgba(129, 204, 220, 0.568627451) !important;
}

.swiper-slide-next {
  opacity: 0.5;
}

.swiper-slide-prev {
  opacity: 0.5;
}

.swiper_p_sub {
  margin-top: 5px;
}
.swiper_p_sub p {
  font-size: 12px;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
}

.modal_back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(109, 109, 109, 0.7098039216);
}

.modal1,
.modal2 {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 30px 30px 0;
  z-index: 100;
}
.modal1 p,
.modal2 p {
  line-height: 1.3rem;
}
.modal1 a,
.modal2 a {
  display: block;
  color: white;
  margin-top: 20px;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

.modal-icon {
  display: block;
  margin: 28px auto 0;
  text-align: center;
  font-size: 40px;
}

.close {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
}

.demo {
  display: block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .modal_back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(109, 109, 109, 0.7098039216);
  }
  .modal1, .modal2 {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 30px 30px 0;
    z-index: 100;
  }
  .modal1 p, .modal2 p {
    line-height: 1.3rem;
  }
  .modal1 a, .modal2 a {
    display: block;
    color: white;
    margin-top: 20px;
    margin: 0 auto;
    width: 30%;
    text-align: center;
  }
  .modal-icon {
    display: block;
    margin: 28px auto 0;
    text-align: center;
    font-size: 40px;
  }
  .close {
    display: block;
    margin: 0 auto;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    width: 30px;
    height: 30px;
  }
  .demo {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }
}