@charset "UTF-8";
/*--------------------------------------*
  * foundation
*--------------------------------------*/
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Bold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "Bungee Outline";
  src: url("../fonts/BungeeOutline-Regular.woff") format("woff");
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  color: red;
}
@media screen and (max-width:767px) {
  html {
    scroll-padding-top: 0px;
  }
}

body {
  color: #333;
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
  padding: 0;
  background-color: #f3efe7;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
a:hover {
  opacity: 0.8;
}

li {
  list-style: none;
}

.inner {
  padding: 0 30px;
  max-width: 1084px;
  margin: 0 auto;
}
@media screen and (max-width:767px) {
  .inner {
    padding: 0 20px;
  }
}

h2, h3 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

.pc {
  display: block;
}
@media screen and (max-width:767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width:767px) {
  .sp {
    display: block;
  }
}

.main {
  margin-top: 64px;
}

.to-top {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 5%;
  right: 5%;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 1s 0s ease;
  transition: all 1s 0s ease;
}

.to-top.show {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 5%;
  right: 5%;
  z-index: 3;
  opacity: 1;
}
@media screen and (max-width:767px) {
  .to-top.show {
    width: 75px;
    height: 75px;
  }
}

p {
  line-height: 1.8em;
  font-size: 2rem;
}
@media screen and (max-width:767px) {
  p {
    font-size: 1.6rem;
  }
}

/*--------------------------------------*
    * layout
*--------------------------------------*/
.l-header {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1;
}
@media screen and (max-width:767px) {
  .l-header {
    height: 50px;
  }
}
.l-header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media screen and (max-width:767px) {
  .l-header__contents {
    display: none;
  }
}
.l-header__logo {
  width: 80px;
  height: 80px;
  /* ゆっくり変化させる */
}
.l-header img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: all 0.6s 0s ease;
  transition: all 0.6s 0s ease;
}
.l-header a {
  color: white;
}

.l-header.active a {
  color: #333;
  font-size: 1.5rem;
}
@media screen and (max-width:767px) {
  .l-header.active a {
    color: white;
    font-size: 3rem;
  }
}

.l-header.active img {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.l-header.p-page-work img {
  -webkit-filter: invert(0);
          filter: invert(0);
}
.l-header.p-page-work a {
  color: #333;
}

@media screen and (max-width:767px) {
  .l-header__nav {
    display: none;
  }
}

.l-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.l-nav__item {
  margin-right: 25px;
}
.l-nav__item a {
  font-size: 2rem;
}
@media screen and (max-width:767px) {
  .l-nav {
    display: none;
  }
}

/* ---------------------------------------------------
 * sp-header
/* ---------------------------------------------------*/
.sp_header {
  display: none;
}

.sp_back {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(87, 87, 87);
  z-index: 100;
  position: absolute;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sp_btn {
  display: none;
  z-index: 200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .main {
    overflow: hidden;
    background-attachment: unset;
  }
  .sp_header {
    display: block;
    position: fixed;
    right: -250px;
    z-index: 100;
    width: 250px;
    height: 100vh;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    top: 0;
    border-radius: 0 0 0 100px;
  }
  .sp_back.active {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(87, 87, 87);
    z-index: 1;
    position: absolute;
    opacity: 0.4;
  }
  .sp_header.active {
    position: fixed;
    right: 0;
    z-index: 200;
    background-color: #ff3b00;
  }
  .sp_menu {
    height: 100%;
  }
  .sp_btn {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    z-index: 200;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .sp_btn.active {
    position: fixed;
    right: 500px;
  }
  .nav_items {
    display: block;
    font-size: 30px;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 15%;
  }
  .nav_items a {
    color: white;
    width: 100%;
    display: block;
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) and (max-width:767px) {
  .nav_items a {
    /* padding-left: 30px; */
    border-bottom: 10px dotted rgba(255, 255, 255, 0.2196078431);
    margin-left: 40px;
    padding-bottom: 5px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .nav_item {
    margin-bottom: 15px;
    width: 100%;
    padding: 0;
  }
  .nav_item img {
    width: 30px;
  }
}
.hide_btn {
  list-style: none;
  font-size: 80px;
  color: white;
}

.main_img {
  display: none;
  overflow: hidden;
  width: 500px;
  max-width: 500px;
  margin-left: auto;
}
.main_img img {
  display: block;
  width: 100%;
  opacity: 0.75;
  -webkit-animation: animationZoom 30s ease-in-out infinite;
          animation: animationZoom 30s ease-in-out infinite;
}
@media screen and (max-width: 767px) {
  .main_img img {
    height: 100vh;
    max-height: 800px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff3b00;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
}
@media screen and (max-width:767px) {
  .custom-cursor {
    display: none;
  }
}

a:hover .custom-cursor,
button:hover .custom-cursor {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  /* カーソルが大きくなる */
  /* カーソルの色を変更 */
}

.cursor-inverted {
  -webkit-filter: invert(1);
          filter: invert(1);
  /* 色を反転 */
}

.pSection {
  display: block;
}

.footer {
  padding: 50px;
  text-align: center;
  background-color: #E9F6F8;
  background-image: url(../images/header_img.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}
@media screen and (max-width:767px) {
  .footer {
    padding: 20px;
  }
}

/* ---------------------------------------------------
 * camel
/* ---------------------------------------------------*/
.camel {
  -webkit-animation: scrollAnime linear;
          animation: scrollAnime linear;
  /* 一番上から一番下までスクロールする間にアニメーションさせる */
  animation-timeline: scroll();
  position: fixed;
  bottom: 32px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  z-index: 111;
}

.camel img {
  width: 30px;
  height: 30px;
  position: absolute;
}

.camel__img.active {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.pizza {
  width: 100%;
  position: fixed;
  bottom: 30px;
}

.pizza__icon,
.ice-cream {
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
}

@-webkit-keyframes scrollAnime {
  from {
    width: 0;
  }
  to {
    width: 98.5%;
  }
}

@keyframes scrollAnime {
  from {
    width: 0;
  }
  to {
    width: 98.5%;
  }
}
/*--------------------------------------*
    * object
*--------------------------------------*/
/*--------------------------------------*
    * component
*--------------------------------------*/
.c-button {
  background-color: white;
  border-radius: 50px;
  border: 1px solid black;
  display: inline-block;
  -webkit-box-shadow: 0px 3px 1px #4A3636;
          box-shadow: 0px 3px 1px #4A3636;
  min-width: 130px;
  margin: 0 auto;
}
@media screen and (max-width:767px) {
  .c-button {
    width: 100%;
  }
}
.c-button a {
  margin: 0 auto;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px 40px;
}
@media screen and (max-width:767px) {
  .c-button a {
    padding: 15px 40px;
  }
}

.about__button {
  margin-top: 44px;
}

.how-to-entry__button {
  margin-top: 40px;
  margin-bottom: 4px;
}

.prize__button {
  margin-top: 40px;
}

.c-inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 150px;
}
@media screen and (max-width:900px) {
  .c-inner {
    padding: 0 100px;
  }
}
@media screen and (max-width:767px) {
  .c-inner {
    padding: 10px 20px 30px;
  }
}

.c-inner.l-head-inner {
  height: 100%;
}
@media screen and (max-width:767px) {
  .c-inner.l-head-inner {
    padding: 0;
  }
}

.c-inner.p-mv {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1080px;
  padding: 10px 30px 30px;
}

.c-section {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  overflow: hidden;
}
@media screen and (max-width:767px) {
  .c-section {
    padding-top: 70px;
    padding-bottom: 0;
  }
}
.c-section__title {
  font-size: 12.5rem;
  font-weight: bold;
  text-align: left;
  font-family: "Bungee Outline", sans-serif;
}
.c-section__title span {
  display: inline-block;
}
@media screen and (max-width:767px) {
  .c-section__title {
    font-size: 6rem;
  }
}
.c-section__title.orange {
  color: #ff6a00;
}
.c-section__title.blueviolet {
  color: blueviolet;
}
.c-section__title.lightseagreen {
  color: #00f62d;
}
.c-section__title.deeppink {
  color: deeppink;
}
.c-section__title.black {
  color: #0079c1;
}
.c-section__title.navy {
  color: navy;
}
.c-section__sub-title {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  color: #ff3b00;
  border-bottom: 13px dotted #ff3b00;
}

.c-section.p-mv {
  padding-top: 0;
}

.c-section.about {
  padding-top: 0;
}

.c-section.p-price {
  padding-bottom: 100px;
}

.about__section-head {
  margin-top: 96px;
}

.section__faq {
  padding-top: 240px;
}
@media screen and (max-width:767px) {
  .section__faq {
    padding-top: 140px;
  }
}

.section__contact {
  background-color: white;
}

.section__map {
  background-color: #E9F6F8;
  padding-bottom: 240px;
}

.swiper-slide.po {
  white-space: nowrap;
  overflow: hidden;
}

.logo_fadein {
  background: #f3efe7;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .logo_fadein {
    height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  .logo_fadein img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
  }
}

.logo_fadein p {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
}
@media screen and (max-width: 767px) {
  .logo_fadein p {
    margin: 0 auto;
    text-align: center;
  }
}

.p-mv {
  position: relative;
}
.p-mv__img {
  height: 100vh;
}
.p-mv__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-mv__contents {
  text-align: left;
  padding-left: 100px;
  color: white;
}
@media screen and (max-width:767px) {
  .p-mv__contents {
    padding-left: 0;
  }
}
.p-mv__title {
  font-size: 8rem;
  text-shadow: 1px 3px 5px #000000;
}
@media screen and (max-width:767px) {
  .p-mv__title {
    font-size: 5rem;
  }
}
.p-mv__text-title {
  font-size: 3rem;
  text-shadow: 1px 3px 5px #000000;
}
@media screen and (max-width:767px) {
  .p-mv__text-title {
    font-size: 2rem;
  }
}
.p-mv__text-welcome {
  font-size: 2rem;
  text-shadow: 1px 3px 5px #000000;
}

.p-about {
  background-color: #f3e8ff;
  position: relative;
  border-radius: 200px 200px 0 0;
  color: #3d0085;
}
@media screen and (max-width:767px) {
  .p-about {
    border-radius: 70px 70px 0 0;
  }
}
.p-about__content {
  margin-top: 50px;
}
.p-about__head-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width:767px) {
  .p-about__head-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-about__head-img {
  width: 30%;
}
.p-about__head-img img {
  border-radius: 30px;
}
@media screen and (max-width:767px) {
  .p-about__head-img {
    width: 100%;
    padding: 0px 50px;
    max-width: 300px;
    margin-inline: auto;
  }
}
.p-about__head-wrap {
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
}
@media screen and (max-width:767px) {
  .p-about__head-wrap {
    padding: 0;
    margin-top: 40px;
  }
}
.p-about__head-title {
  font-size: 2rem;
  font-weight: bold;
}
.p-about__head-name {
  font-size: 3rem;
  font-weight: bold;
}
.p-about__head-sub-name {
  font-size: 1.5rem;
}
.p-about__profile-wrap {
  margin-top: 100px;
  text-align: left;
}
@media screen and (max-width:767px) {
  .p-about__profile-wrap {
    margin-top: 30px;
  }
}
.p-about__camel {
  margin-top: 120px;
  background: white;
  padding: 50px;
  border-radius: 50px;
  margin-bottom: 60px;
}
@media screen and (max-width:767px) {
  .p-about__camel {
    padding: 30px;
  }
}
.p-about__camel-title {
  font-size: 3rem;
  font-weight: bold;
}
@media screen and (max-width:767px) {
  .p-about__camel-title {
    font-size: 2rem;
  }
}
.p-about__camel-text {
  margin-top: 50px;
}
@media screen and (max-width:767px) {
  .p-about__camel-text {
    margin-top: 20px;
  }
}

.p-work__content {
  margin-top: 50px;
}
.p-work__item-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 2列を同じ幅で設定 */
  gap: 50px;
  /* 列の間にスペースを作成（オプション） */
  position: relative;
  height: 100%;
}
@media screen and (max-width:767px) {
  .p-work__item-flex {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.p-work__item-wrap {
  height: 100%;
}
.p-work__item {
  -webkit-box-shadow: 1px 1px 6px #c5c5c5;
          box-shadow: 1px 1px 6px #c5c5c5;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 30px;
}
.p-work__item img {
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  /* ゆっくり変化させる */
}
.p-work__item:hover {
  z-index: 111;
}
.p-work__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /* 拡大 */
}

.p-policy__swiper {
  margin-top: 50px;
  position: relative;
  z-index: -1;
}

.p-skill__content {
  margin-top: 50px;
}
.p-skill__head {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}
.p-skill__main-wrap {
  margin-top: 50px;
}

.p-main-skill__wrap {
  display: grid;
  /* グリッドレイアウトを適用 */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* 4列の設定 */
  gap: 20px;
  /* 各グリッドアイテムの間のスペース */
  padding: 30px;
}
@media screen and (max-width:767px) {
  .p-main-skill__wrap {
    padding: 0;
  }
}
.p-main-skill__item {
  width: 100%;
  padding: 30px;
  margin: 0px auto 0;
  -webkit-box-shadow: 1px 1px 6px #c5c5c5;
          box-shadow: 1px 1px 6px #c5c5c5;
  border-radius: 20px;
  background-color: white;
}
@media screen and (max-width:767px) {
  .p-main-skill__item {
    padding: 20px;
  }
}
.p-main-skill__title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}
.p-main-skill__etc {
  text-align: left;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 25px;
}
@media screen and (max-width:767px) {
  .p-main-skill__etc {
    font-size: 1.6rem;
  }
}

.p-another-skill__content {
  text-align: left;
}
.p-another-skill__item {
  margin-top: 60px;
}
.p-another-skill__title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
@media screen and (max-width:767px) {
  .p-another-skill__title {
    font-size: 2rem;
  }
}
.p-another-skill__text {
  margin-top: 10px;
}

.p-policy__text-wrap {
  margin-top: 40px;
}
.p-policy__text {
  margin-top: 10px;
  text-align: left;
}

.twitter {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  padding: 30px;
}

.twitter_icon {
  font-size: 5rem;
  color: #4dc1f4;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .twitter {
    padding: 0 0 50px;
  }
  .twitter p {
    font-size: 14px;
  }
}
.p-page-work__content {
  margin-top: 40px;
}
.p-page-work__item {
  text-align: left;
  margin-top: 120px;
}
@media screen and (max-width:767px) {
  .p-page-work__item {
    margin-top: 60px;
  }
}
.p-page-work__item:first-child {
  margin-top: 50px;
}
.p-page-work__title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width:767px) {
  .p-page-work__title {
    font-size: 2rem;
  }
}
.p-page-work__text {
  margin-top: 30px;
}

.p-price__content {
  margin-top: 50px;
  width: 80%;
  margin-inline: auto;
}
@media screen and (max-width:767px) {
  .p-price__content {
    width: 100%;
  }
}
.p-price__table table {
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  background: white;
  border: none;
  border-radius: 30px;
}
@media screen and (max-width:900px) {
  .p-price__table table {
    font-size: 1.4rem;
  }
}
@media screen and (max-width:767px) {
  .p-price__table table {
    font-size: 1.4rem;
    max-width: 500px;
    margin-inline: auto;
  }
}
.p-price__table table th, .p-price__table table td {
  padding: 30px;
  border: none;
}
@media screen and (max-width:767px) {
  .p-price__table table th, .p-price__table table td {
    padding: 30px 10px;
  }
}
.p-price__table table td {
  border-bottom: 1px solid #c5c5c5;
  text-align: left;
}
.p-price__table table tr:last-child td {
  border-bottom: none;
}
.p-price__text {
  text-align: left;
  margin-top: 30px;
}

.p-voice {
  height: 1000px;
}
.p-voice__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gsap-img {
  display: block;
  height: auto;
  position: relative;
  left: -200%;
  opacity: 0;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-wrapper.about__swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font-family: "Bungee Outline", sans-serif;
}

.swiper-slide.po {
  font-size: 3rem;
}