@use "../foundation/mixin" as m;
@use "../foundation/variable" as v;

.l-header {



  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1;

  @include m.mq(sp){
     height: 50px;
  }



  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include m.mq(sp){
       display: none;
    }
  }

  &__logo {
    width: 80px;
    height: 80px;
    /* ゆっくり変化させる */

  }

  img {
    filter: invert(100%);
    transition: all 0.6s 0s ease;

  }

  a {
    color: white;
  }


}

.l-header.active a {
  color: #333;
  font-size: 1.5rem;

  @include m.mq(sp){
     color: white;
  }
}

.l-header.active img {
  filter: invert(0);

}

.l-header.p-page-work {
  img {
    filter: invert(0);

  }

  a {
    color: #333;
  }
}

.l-header__nav{

  @include m.mq(sp){
     display: none;
  }
}



.l-nav {


  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 25px;

    a {
      font-size: 2rem;
    }

  }

  @include m.mq(sp){
     display: none;
  }


}


/* ---------------------------------------------------
 * sp-header
/* ---------------------------------------------------*/

.sp_header {
  display: none;
}


.sp_back {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(87, 87, 87);
  z-index: 100;
  position: absolute;
  opacity: 0.4;
  transition: 0.5s;
}

.sp_btn {
  display: none;
  z-index: 200;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {

  .main {
    overflow: hidden;
    background-attachment: unset;
  }

  .sp_header {
    display: block;
    position: fixed;
    right: -250px;
    z-index: 100;
    // background-color: $base;
    width: 250px;
    height: 1000px;
    transition: 0.6s;
    top: 0;
  }

  .sp_back.active {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(87, 87, 87);
    z-index: 1;
    position: absolute;
    opacity: 0.4;
  }

  .sp_header.active {
    position: fixed;
    right: 0;
    z-index: 200;
    background-color: #ff3b00;
  }

  .sp_menu {
    // background-color: rgb(183, 208, 235);
    height: 100%;


  }

  .sp_btn {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    z-index: 200;
    transition: 1s;

  }


  .sp_btn.active {
    position: fixed;
    right: 500px;
  }


  .nav_items {
    display: block;
    font-size: 30px;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 15%;

    a {
      color: white;
      width: 100%;
      display: block;
      padding-left: 30px;

      @include m.mq(sp){

              /* padding-left: 30px; */
              border-bottom: 10px dotted #ffffff38;
              margin-left: 40px;
              padding-bottom: 5px;
      padding-left: 0px;
      }
    }
  }

  .nav_item {
    margin-bottom: 15px;
    // padding: 30px;
    width: 100%;
    padding: 0;

  }

  .nav_item img {
    width: 30px;
  }
}

.hide_btn {
  list-style: none;
  font-size: 80px;
  color: white;
}

.main_img {
  display: none;
  overflow: hidden;
  width: 500px;
  max-width: 500px;
  margin-left: auto;

  img {
    display: block;
    width: 100%;
    opacity: 0.75;

    animation: animationZoom 30s ease-in-out infinite;

    @media screen and (max-width: 767px) {
      height: 100vh;
      max-height: 800px;
      object-fit: cover;
    }
  }
}




.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:#ff3b00;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}



a:hover .custom-cursor,
button:hover .custom-cursor {
  transform: scale(1.5);
  /* カーソルが大きくなる */
  /* カーソルの色を変更 */
}

.cursor-inverted {
  filter: invert(1);
  /* 色を反転 */
}


.pSection{
  display: block;
}