@use "./../../foundation/variable" as v;
@use "../../foundation/mixin" as m;


.c-button{
  background-color: white;
  border-radius: 50px;
  border: 1px solid black;
  // padding: 10px;
  display: inline-block;
  box-shadow: 0px 3px 1px v.$color-button;
  min-width: 130px;
  margin: 0 auto;

  @include m.mq(sp){
     width: 100%;
  }







  a{
    margin: 0 auto;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;

    @include m.mq(sp){
       padding: 15px 40px;
    }
  }
}

.about__button{
  margin-top: 44px;
}

.how-to-entry__button{
  margin-top: 40px;
  margin-bottom: 4px;
}

.prize__button{
  margin-top: 40px;
}